$bordo: #613232;
$dark-bordo: #472424;
$pink: #ff7373;

* {
    font-family: Arial, Tahoma, San-srancis, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

body {
    margin: 0;
}

@font-face {
    font-family: 'TruenoBd';
    src: url("../fonts/TruenoBd.otf") format("opentype");
    font-weight: bold;
    font-style: normal; 
}

@font-face {
    font-family: 'TruenoLt';
    src: url("../fonts/TruenoLt.otf") format("opentype");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'TruenoUltBlk';
    src: url("../fonts/TruenoUltblk.otf") format("opentype");
    font-weight: bold;
    font-style: normal; 
}

.wrapper-big {
    width: 1680px;
    margin: 0 auto;
}

.wrapper-little {
    width: 1110px;
    margin: 0 auto;
}

.header-top {
    min-height: 50px;
    background: $dark-bordo;
}
.basket {
    display: inline-block;
    margin-left: 417px;
    padding: 12px 20px 12px 40px;
    text-decoration: none;
}

.head-link {
    display: inline-block;
    padding: 12px 20px;
    color: #ffffff;
    font-family: 'TruenoLt';
    font-size: 13px;
    line-height: 26px;
    text-decoration: none; 
    vertical-align: top;
    
    &:first-child {
        padding-left: 0;
    }
}

.price-selected {
    @extend .head-link;
    padding: 0;
}

.items-selected {
    @extend .head-link;
    padding: 0;
    color: #dcc5b8;
}

.login {
    @extend .head-link;
    border-left: 1px solid #5a3a3a;
}

.register {
    @extend .head-link;
    background: $pink;
}

.header-middle {
    min-height: 76px;
    background: $bordo;

    .nav-link {
        padding: 22px 20px;
    }

    .logo {
        margin-right: 236px;
        padding-left: 0;
    }
}

.nav-link  {
    display: inline-block;
    color: #ffffff;
    font-family: 'TruenoLt';
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    vertical-align: top;

    &:last-child {
        padding-right: 0;
    }
}

.header-bottom {
    height: 600px;
    background: #f0efee;
    vertical-align: top;
}

.featured-product {
    margin-left: 855px;
    padding: 130px 0;

    .main-p {
        width: 420px;
        color: #8a8784;
    }
    
    .main-btn {
        padding: 11px 47px;
        background: $pink;
    }
}

.featured-price {
    color: $bordo;
    font-family: 'TruenoLt';
    font-size: 30px;
}

.featured-name {
    color: $bordo;
    font-family: 'TruenoUltBlk';
    font-size: 70px;
}

.featured-details {
    color: $pink;
    font-family: 'TruenoUltBlk';
    font-size: 50px;
}

.main-p {
    color: #ffffff;
    font-family: 'TruenoLt';
    font-size: 16px;
    line-height: 26px;
}

.main-btn {
    display: inline-block;
    padding: 11px 30px;
    color: #ffffff;
    background: $bordo;
    font-family: 'TruenoBd';
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
}