* {
  font-family: Arial, Tahoma, San-srancis, sans-serif; }

body {
  margin: 0; }

@font-face {
  font-family: 'TruenoBd';
  src: url("../fonts/TruenoBd.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TruenoLt';
  src: url("../fonts/TruenoLt.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TruenoUltBlk';
  src: url("../fonts/TruenoUltblk.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

.wrapper-big {
  width: 1680px;
  margin: 0 auto; }

.wrapper-little {
  width: 1110px;
  margin: 0 auto; }

.header-top {
  min-height: 50px;
  background: #472424; }

.basket {
  display: inline-block;
  margin-left: 417px;
  padding: 12px 20px 12px 40px;
  text-decoration: none; }

.head-link, .price-selected, .items-selected, .login, .register {
  display: inline-block;
  padding: 12px 20px;
  color: #ffffff;
  font-family: 'TruenoLt';
  font-size: 13px;
  line-height: 26px;
  text-decoration: none;
  vertical-align: top; }
  .head-link:first-child, .price-selected:first-child, .items-selected:first-child, .login:first-child, .register:first-child {
    padding-left: 0; }

.price-selected {
  padding: 0; }

.items-selected {
  padding: 0;
  color: #dcc5b8; }

.login {
  border-left: 1px solid #5a3a3a; }

.register {
  background: #ff7373; }

.header-middle {
  min-height: 76px;
  background: #613232; }
  .header-middle .nav-link {
    padding: 22px 20px; }
  .header-middle .logo {
    margin-right: 236px;
    padding-left: 0; }

.nav-link {
  display: inline-block;
  color: #ffffff;
  font-family: 'TruenoLt';
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  vertical-align: top; }
  .nav-link:last-child {
    padding-right: 0; }

.header-bottom {
  height: 600px;
  background: #f0efee;
  vertical-align: top; }

.featured-product {
  margin-left: 855px; }
